.c-most-freq-words
  border: 1px solid #b2b2b2
  border-radius: 10px
  
  .words-table
    margin: 20px
    line-height:20px
    
  .metric-title
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    font-size: 25px
    color: #fff
    padding: 20px
    background: #0084ff
    overflow: hidden
