.c-home-page
  text-align: center
  
  .description  
    width: 50%
    font-size: 20px
    margin: auto 200px auto 50px
    
  button
    background: #0084ff
    padding: 0px 30px
    border-radius: 10px
    font-size: 30px
    color: #fff
    height: 100px
    border: none
    &:focus
      outline: none
    &:hover
      cursor: pointer
      
